<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/</param-value>
    </context-param>

    <!-- Handle /dictionary/* -->
    <servlet>
        <servlet-name>MyRestService</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.nil.web.example.MyApplication</param-value>
        </init-param>
    </servlet>

    <!-- Handle /here/* -->
    <servlet>
        <servlet-name>MyHereService</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.nil.web.here.HereApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyRestService</servlet-name>
        <url-pattern>/dictionary/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyHereService</servlet-name>
        <!--<servlet-name>MyRestService</servlet-name>-->
        <url-pattern>/here/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>